@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,400;1,500&display=swap");
html {
  width: 100%;
  background-color: #d1cbcb;
}
body {
  max-width: 1280px;
  margin: 0px auto 0 auto;
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 1.5px;
  background-size: 50px;
  background-color: #fff;
  border: 0;
  color: black;
}

main {
  width: 100%;

  background: rgba(0, 0, 0, 0.0001);
  position: relative;

  background-color: #fff;

  font-size: 18px;
}
.header {
  text-align: center;
  padding: auto;
}

.title {
  position: relative;
  width: 1280px;
  height: 1626px;
}

.header-title {
  font-size: 20px;
  color: rgb(148, 152, 154);
  text-align: left;
}

.text {
  margin: 20px;
  text-align: center;

  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: black;
}

.navbar {
  background: #fff;
  position: center;
  align-items: center;
  text-align: center;
  height: 50px;
}

.navbar-link {
  padding: 15px;
  text-align: center;
  color: #ff0000;
  text-decoration: none;

  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  font-style: normal;
  font-weight: bolder;
  text-transform: uppercase;
  display: inline-block;
}

.banner {
  background-image: url(img/image-1.png);
  height: 789px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}

.content {
  margin: 20px;
  color: rgb(7, 6, 6);
}

.content-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: center;

  letter-spacing: 3.3px;
}

.content-text {
  margin: 20px;
  font-size: 16px;
  color: black;
}

.btn {
  width: 191px;
  height: 51px;
  border-top: 557px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 2.4px;
  margin: 20px;
  color: #fff;
  background-color: red;
  border: 0;
  display: block;
  align-items: center;
}

footer {
  height: 39px;
  font-weight: bold;
  font-size: 16px;
  color: #373737;
  text-align: left;
 
  text-align: right;
  padding: 10px;
  letter-spacing: 2.4px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  
 

}

.actions {
  text-align: center;
}
.actions button {
  display: inline-block;
  border-radius: 4px;
  font-weight: bold;

}
