
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


 /* Page */

 .page {
	width: 1480px;
	height: 1282px;
	margin: 20px auto;
	font-family: "Roboto";
 }

 .header {
   background-color: #35444f; 
	padding: 20px;

 }

 .content {
	 display: flex;
	 flex-direction: column;
 }

 .sidebar {
	width: 200px;
   border-color: black;
	border-width: 344px;
	border-right-style: solid;
	background-color: #333;
 }

 .main {
	width: 885px;
	height: 120px;
	background-color: #bbb;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	margin-top: 556px;
	margin-left: 0px;
 }

 .footer {
   padding: 20px;

   background-color: #35444f;


 }




 


