html {
  font-size: 14px;
}

body {
  background: #1f1d1d;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  margin: 10%;
  padding: 0px;
  border: none;
  text-align: center;
  position: relative;
  perspective: 500px;
  height: 1000px;
  overflow: hidden;
}

.perspective-block {
  position: absolute;

  transform: rotateX(36deg) scale(0.35);

  border: 1px solid #ff0000;

  width: 100%;
}

.scrolling-block {
  animation-name: text_line;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  top: 100%;
  margin-left: 20%;
  margin-right: 20%;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  line-height: 7rem;

  letter-spacing: 0.2rem;

  color: rgb(226, 50, 19);
  text-align: justify;
}

@keyframes text_line {
  from {
    top: 2015px;
  }
  to {
    top: 0px;
  }
}
